<%= turbo_stream_from "testebroadcast" %>
<%# chamando o turbo_stream do controller room %>

<%= render "room", room: @room %>

<br><br>
<%= form_with model: @chat, url: chats_path do | form |  %>
  <%= form.hidden_field :room_id, value: @room.id %>
  <%= form.text_field :content %>
  <%= form.submit "Enviar" %>
<% end %>
  
<%= link_to 'Back to rooms', rooms_path %>

<h1>CHATS</h1>

<%= render "chats/chat",  rooma: @room%>

<%= turbo_stream_from "aa" %> 



