

<%# tudo que estiver dentro desse turbo-frame room_chat vai ser chamado e renderizado la na view index %>
<turbo-frame id="room_chat">
<%= turbo_stream_from "updateusername" %>
<%= button_to "Back to rooms", room_path(@room), method: :delete, data: { confirm: 'Tem certeza que quer sair da sala?' } %>
<%= render "rooms/room", room: @room %>
<%# renderizando a partial %>



<%= form_with model: [@room, Chat.new] do | form | %> 
    <%=form.text_field :content %>
    <%= form.submit "Salvar" %>
<% end %>

<%# o <%= turbo_stream_from "updatechat" pecisa esta sempe antes do id que tu colocou no caso aqui de baixo  id="updatechat" %>
<%= turbo_stream_from "updatechat" %>
<div id="updatechat">
  <% @room.chats.each do |chat| %>
    <%= render "chats/chat", chat: chat %>
  <% end %>
</div>

</turbo-frame>

