<div class="card-post">
    <div>
        <p><%= @post.title %></p>
        <p><%=  @post.description%></p>
        <p><%=  @post.user.login%></p>
        <p><%= @post.user.email %></p>
        <%= link_to 'Back', root_path  %>
    </div>
    <div>   
     
  <div>
    <!-- Formulário para adicionar um novo comentário -->
    <%= form_with model: [ @post, @post.comments.build ], local: true do |form| %>
      <div class="field">
        <%= form.text_area :comments, placeholder: "Digite seu comentário", rows: 4 %>
      </div>
      <%= form.submit "Comentar" %>
    <% end %>
  </div>

  <div>
  

  
 
 <% valid_comments = @post.comments.select { | comment | comment.comments.present? } %>  <!-- Pega só os comentarios que tem conteudo. Aquele valid ali é só o nome da variavel -->
  <% if valid_comments.any? %>  
    <% valid_comments.each do |comment| %> <!-- Aqui ta filtrando so os comentarios com conteudo, pq antes tava filtrando tambem o comentario que era null -->  
      <div style="margin-top: 30px">
        <p><%= comment.comments %></p>
        <p><%= User.find(comment.user_id).login %></p> 
      </div>
    <% end %>
  <% else %>
    <p>Não há comentários com conteúdo para este post.</p>  
  <% end %>
  <%# Pegar o user_id do comment. A partir do user id pegar o email. E depois de alguma forma mapear todos els %>
  </div>
</div>

